<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-collapse" id="navbarToggler" [ngClass]="{'collapse': collapsed}">
      <ul class="nav navbar-nav" (click)="autoClose()">
        <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="recipes">Recipes</a></li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="auth">Authenticate</a></li>
        <li routerLinkActive="active">
          <a routerLink="shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated" (click)="autoClose()">
          <a (click)="onLogout()">Logout</a>
        </li>
        <li class="dropdown" appDropdown *ngIf="isAuthenticated">
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onSaveData()" (click)="autoClose()">Save Data</a></li>
            <li><a (click)="onFetchData()" (click)="autoClose()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
